# Домашнее задание 1

Все задания ниже имеют равный вес (10/16).

In [3]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [45]:
#your code here
data = []
for i in list(range(0, 10)):
    tmp = pd.read_csv(f"Data\Students_info_{i}.csv", delimiter=',')
    tmp2 = pd.read_csv(f"Data\Students_marks_{i}.csv", delimiter=',')
    frames = pd.merge(tmp, tmp2, on="index")
    data.append(frames)
frames = pd.concat(data)

In [47]:
frames

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [50]:
#your code here
frames = frames[frames.columns[1:]]
frames

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95
96,male,group C,high school,free/reduced,none,group10,62,55,55
97,female,group C,high school,free/reduced,completed,group10,59,71,65
98,female,group D,some college,standard,completed,group10,68,78,77
99,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 3. Выведите на экран размеры полученной таблицы

In [54]:
# your code here
print('Строки: \t', frames.shape[0])
print('Столбцы: \t', frames.shape[1])

Строки: 	 1000
Столбцы: 	 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [97]:
# your code here
for i in frames.columns[-1:-4:-1]:
    print(f"{i} \t max:'{frames[i].max()} \t min: {frames[i].min()} \t averge: {frames[i].mean()} \t std: {frames[i].std()}")

writing score 	 max:'100 	 min: 10 	 averge: 68.054 	 std: 15.195657010869642
reading score 	 max:'100 	 min: 17 	 averge: 69.169 	 std: 14.60019193725222
math score 	 max:'100 	 min: 0 	 averge: 66.089 	 std: 15.163080096009468

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [96]:
# your code here
if frames.isnull().any().any() != False:
    print("В данных есть пропуски")
else:
    print("Пропуски отсутствуют")

Пропуски отсутствуют

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
# your code here
было в задании 4

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [105]:
# your code here
test_none = frames[frames['test preparation course'] != 'completed']
test_com = frames[frames['test preparation course'] != 'none']

print('test preparation course completed')
for i in frames.columns[-1:-4:-1]:
    print(f"{i} \t max:'{test_com[i].max()} \t min: {test_com[i].min()} \t averge: {test_com[i].mean()} \t std: {test_com[i].std()}")    

print('\ntest preparation course not completed')
for i in frames.columns[-1:-4:-1]:
    print(f"{i} \t max:'{test_none[i].max()} \t min: {test_none[i].min()} \t averge: {test_none[i].mean()} \t std: {test_none[i].std()}")

test preparation course completed
writing score 	 max:'100 	 min: 36 	 averge: 74.41899441340782 	 std: 13.375334843630654
reading score 	 max:'100 	 min: 37 	 averge: 73.89385474860335 	 std: 13.638383641348076
math score 	 max:'100 	 min: 23 	 averge: 69.69553072625699 	 std: 14.444699225388481

test preparation course not completed
writing score 	 max:'100 	 min: 10 	 averge: 64.50467289719626 	 std: 14.999661253653358
reading score 	 max:'100 	 min: 17 	 averge: 66.53426791277259 	 std: 14.463885096477947
math score 	 max:'100 	 min: 0 	 averge: 64.0778816199377 	 std: 15.192375639272065

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [112]:
# your code here
dic = {*frames['lunch']}
print(*dic)

standard free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [116]:
# your code here
frames = frames.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"} )
frames.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [157]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [142]:
# your code here
math_done_ex = frames[frames['math score'] >= passmark]
print(f"Доля успешно сдавших экзамен по математике:\t\t {math_done_ex.shape[0]/frames.shape[0] * 100} %")

math_done_ex_cour= test_com[test_com['math score'] >= passmark]
print(f"Доля успешно сдавших экзамен по математике после курсов: {math_done_ex_cour.shape[0]/test_com.shape[0] * 100} %")

female_not_cour = test_none[test_none['gender'] == 'female']
female_lose_ex = female_not_cour[female_not_cour['math score'] >= passmark]
print(f"Доля не сдавших математику женщин(без курсов):\t\t {female_lose_ex.shape[0]/female_not_cour.shape[0] * 100} %")

Доля успешно сдавших экзамен по математике:		 86.5 %
Доля успешно сдавших экзамен по математике после курсов: 92.17877094972067 %
Доля не сдавших экзамен женщин(без курсов):		 79.04191616766467 %

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [153]:
# your code here
print(frames.groupby(['race/ethnicity']).mean()['reading score'], '\n')

print(frames.groupby(['education']).min()['writing score'])

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# your code here

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [154]:
# your code here
grouped = frames.pivot_table(frames, index=['gender','education'])
print(grouped)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [175]:
# your code here
def comp(x):
    if x >=50:
        return 'P'
    else:
        return 'F'

frames['Math_PassStatus'] = frames['math score'].apply(comp) # транслируем услвоие и запитсываем результат
frames['Reading_PassStatus'] = frames['reading score'].apply(comp) # транслируем услвоие и запитсываем результат
frames['Writing_PassStatus'] = frames['writing score'].apply(comp) # транслируем услвоие и запитсываем результат


math_lose = frames[frames['Math_PassStatus'] == 'F'].shape[0]
reading_lose = frames[frames['Reading_PassStatus'] == 'F'].shape[0]
writing_lose = frames[frames['Writing_PassStatus'] == 'F'].shape[0]

print(f"Не сдали:\n математика \t{math_lose}\n письмо \t{reading_lose}\n чтение \t{writing_lose}")

Не сдали:
 математика 	135
 письмо 	90
 чтение 	114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [197]:
# your code here
def score_comp(self):
    if self['Math_PassStatus'] =='P':
        if self['Reading_PassStatus'] == 'P':
            if self['Writing_PassStatus'] == 'P':
                return 'P'
    else:
        return 'F'

frames['OverAll_PassStatus'] = frames.apply(score_comp, axis=1)
count = frames[frames['Math_PassStatus'] == 'P'].shape[0]
print(f"Число студентов сдавших экзамены: {count} человек")

Число студентов сдавших экзамены: 865 человек

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      $x > 90 = A$
####      $80 < x \leq 90 = B$
####      $70 < x \leq 80 = C$
####      $60 < x \leq 70 = D$
####      $50 < x \leq 60 = E$
####      $x \leq 50 = F (Fail) $

Пусть $x - $ средний балл студента за три экзамена.  

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here

### Бонусная часть (3 балла)

#### 1. Создадим обучающую матрицу и столбец с целевой переменной.

Закодируйте с помощью OneHotEncoding категориальные признаки

`'gender','race/ethnicity'`, `'parental level of education'`, `'test preparation course'`, `'lunch'`

Создайте матрицу признаков X, состоящую только из закодированных признаков.

Создайте целевой вектор y, в котором для каждого студента стоит 1, его OverAll_PassStatus равен 'P', и 0 иначе.

#### 2. Разделите выборку на обучающую и тестовую часть случайным образом. В тестовую часть положите 1/5 часть объектов.

#### 3. Обучите линейную модель на обучающей части. Оцените долю правильных ответов алгоритма на тестовой части

#### 4. Оцените, не переобучился ли ваш алгоритм
Для этого:

1) посмотрите на качество алгоритма на обучающих данных и на тестовых данных

2) запустите обучение и предсказание несколько раз для разных разбиений и посмотрите на стабильность предсказаний (на метрику)